.login-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/hero2cleaning.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-content1 h2 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  font-size: 1.8rem;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.login-form h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.login-form label {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

.error {
  color: #ff4d4d;
  margin-bottom: 15px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #218838;
}

.login-form p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 10px;
}

.login-form a {
  color: #28a745;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-content {
      padding: 20px;
      height: auto;
  }

  .login-form {
      padding: 15px;
  }

  .login-content1 h2 {
      font-size: 1.5rem;
  }

  .login-form h2 {
      font-size: 1.5rem;
  }

  .login-form button {
      font-size: 14px;
  }
}
