
.admin-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative; 
}

h1 {
  text-align: center;
  margin-bottom: 20px;

}

section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 10px;
  color: #333;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #e2e6e9;
}

.table-container {
  overflow-x: auto;
}

p {
  text-align: center;
}

/* Style for delete button */
button {
  background-color: orange; 
  color: white; 
  border: none;
  padding: 6px 12px; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 14px; 
}

button:hover {
  background-color: #6b4c11; 
}

button:focus {
  outline: none; /
}

button:active {
  background-color: #bd2130; 
}

/* Style for logout button */
.logout-button {
  position:relative; 
  top: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: orange; 
  color: white; 
  border: none; 
  padding: 8px 16px; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px; 
}

.logout-button:hover {
  background-color: #6b4c11; 
}

.logout-button:focus {
  outline: none; 
}

.logout-button:active {
  background-color: #bd2130; 
}
